<div id="shopList">
  <div
    class="items"
    :class="{isLightboxOpen}"
  >
    <div
      class="cover"
      v-for="(artwork,artid) in artworkMenu.sort"
      :key="artwork"
    >
      <div
        class="img"
        @click="setPlayId(artid),controlLightBox()"
        :style="bgcss(artworkMenu.map[artwork].src)"
      >
      </div>
      <div class="details" >
        <div class="title" @click="setPlayId(artid),controlLightBox()">{{artwork}}</div>

        <div class="price"><span class="price-symbol">&#36</span>{{artworkMenu.map[artwork].price}}
        </div>
        <font-awesome-icon icon="shopping-basket" @click="addList(artwork)"/>
      </div>
    </div>
  </div>
  <div class="orderTotal">
    <div class="shopCart">Shopping Cart</div>
    <div class="orderList">
      <ul>
        <li v-for="(item,itemId) in cartList" :key="itemId">
          <div class="img" :style="{ backgroundImage: 'url(' + item.src + ')' }"></div>
          <div class="details">
            <div class="title">
              <span class="name" @click="setPlayId(itemId),controlLightBox()">{{item.title[1]}}</span>
              <span class="price">{{engControl?'$':'NT$'}}{{item.price}}</span>
            </div>
            <div class="material"> {{ item.material[1]}}</div>
            <div class="size"> {{ item.size }}
              <div
                class="remove"
                @click="deleteList(itemId)"
              >&#10006</div>
            </div>
          </div>
        </li>
        <li v-if="!cartList.length">
          <h1>132</h1>
        </li>
      </ul>
    </div>
    <div class="subTotal">
      <div
        class="total"
      >
        <h4>Subtotal: {{engControl?'$':'NT$'}}{{subTotal}}</h4>
      </div>
      <div class="submit">
        <button>
          Place order
        </button>
      </div>
    </div>

  </div>
  <div class="shoppingcart">

  </div>
  <div
    class="lightbox"
    :class="{isLightboxOpen}"
  >
    <div class="closeButton">
      <div class="circle"></div>
      <font-awesome-icon icon=times-circle 
      @click="controlLightBox()"
      />
    </div>
    <div class="nextButton">
      <font-awesome-icon icon=chevron-right
      @click="change(nowPlayId+1)"
      />
    </div>
    <div class="preButton">
      <font-awesome-icon icon=chevron-left
      @click="change(nowPlayId-1)"
      />
    </div>
    <div
      class="myPainting"
      v-if="isLightboxOpen"
    >
      <div class="all">
        <img
          id="myPaint"
          :src="artworkDetail.src"
          @click="change(nowPlayId+1)"
        >
        <div
          class="words"
        >
          <div class="name">
            {{selectArtwork}}
            <div class="year">
              , {{artworkDetail.year}}
            </div>
          </div>
          <div class="material">
            {{artworkMaterials}}
            <div class="size">
              , {{artworkDetail.size}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
