<div id="shopList">
  <div
    class="items"
    :class="{isLightboxOpen}"
  >
    <div
      class="cover"
      v-for="(artwork,artid) in artworkMenu.sort"
      :key="artwork"
    >
      <div
        class="img"
        @click="setPlayId(artid),controlLightBox()"
        :style="bgcss(artworkMenu.map[artwork].src)"
      >
      </div>
      <div class="details" >
        <div class="title" @click="setPlayId(artid),controlLightBox()">{{artwork}}</div>

        <div class="price"><span class="price-symbol">&#36</span>{{artworkMenu.map[artwork].price}}
        </div>
        <font-awesome-icon icon="shopping-basket" @click="addList(artwork)"/>
      </div>
    </div>
  </div>
  <div class="orderTotal">
    <div class="shopCart">Shopping Cart</div>
    <div class="orderList">
      <!-- <ul>
        <li v-for="(workart, workid) in shoppingCar">
          <div
            class="thumbnail"
            :style="{ backgroundImage: 'url(' + workart.img + ')' }"
          ></div>
          <ul>
            <li class="name">
              <div class="title">{{ workart.name }}</div>
              <div
                class="remove"
                @click="shoppingCar.splice(workid, 1)"
              >&#10006</div>
              <div class="price">${{ workart.price }}</div>
            </li>
            <li>
              <div class="year">Year: {{ workart.year }}</div>
              <div class="material">Material: {{ workart.material }}</div>
              <div class="size">Size: {{ workart.size }}</div>
            </li>
          </ul>
        </li>
        <li
          class="empty"
          v-if="!shoppingCar.length"
        >
          <h3>Your cart is empty!</h3>
        </li>
        <hr v-if="shoppingCar.length" />
        <div
          class="total"
          v-if="shoppingCar.length"
        >
          <h4>Subtotal ({{ totlenum }} item): ${{ totalPrice }}</h4>
          <div class="submit">
            <input
              type="submit"
              value="Place order"
            />
          </div>
        </div>
      </ul> -->
      <ul>
        <li v-for="item in cartList">
          {{item.material[1]}}
        </li>
      </ul>
    </div>
    <div class="subTotal">Subtotal
      <div class="submit">submit</div>
    </div>

  </div>
  <div class="shoppingcart">

  </div>
  <div
    class="lightbox"
    :class="{isLightboxOpen}"
  >
    <div class="closeButton">
      <div class="circle"></div>
      <font-awesome-icon icon=times-circle 
      @click="controlLightBox()"
      />
    </div>
    <div class="nextButton">
      <font-awesome-icon icon=chevron-right
      @click="change(nowPlayId+1)"
      />
    </div>
    <div class="preButton">
      <font-awesome-icon icon=chevron-left
      @click="change(nowPlayId-1)"
      />
    </div>
    <div
      class="myPainting"
      v-if="isLightboxOpen"
    >
      <div class="all">
        <img
          id="myPaint"
          :src="artworkDetail.src"
          @click="change(nowPlayId+1)"
        >
        <div
          class="words"
        >
          <div class="name">
            {{selectArtwork}}
            <div class="year">
              , {{artworkDetail.year}}
            </div>
          </div>
          <div class="material">
            {{artworkMaterials}}
            <div class="size">
              , {{artworkDetail.size}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
