* {
  font-family: "Times New Roman", 'Artwork_ch';
}
#lightBox .artworks {
  padding: 0px 3.5vw 10px 5vw;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.2s ;
}

#lightBox .artworks .cover {
  width: 23%;
  height: 370px;
  position: relative;
  margin: calc(1px + 2%) 2% calc(1px + 2%) 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:transform 0.1s;
}
#lightBox .artworks::after{
  content: '';
  flex: 1 0 200px;
  z-index: 6;
}
#lightBox .cover:after{
  content: '';
  height:100%;
  width: 100%;
  position: absolute;
  transition: 0.2s ease-in ;
  border-radius: 5px;
  cursor: pointer;
}
#lightBox .artworks .cover .mackup{
  position: absolute;
  width: 100%;
  height:100%;
  background: linear-gradient(
        -90deg,
        rgb(245, 245, 245) 0%,
        rgb(245, 245, 245) 40%,
        rgb(238, 238, 238) 50%,
        rgb(245, 245, 245) 60%,
        rgb(245, 245, 245) 100%);
  background-repeat: repeat;
  background-size: 400% 100%;
  transition: opacity 0.5s ease-in;
  border-radius: 6px;
  z-index: 5;
}
#lightBox .artworks .cover .mackup.loading {
    animation: loading 1.5s ease infinite;
}
@keyframes loading {
  0%{
    background-position-x: 100%;
  }
  100%{
    background-position-x: 0%;
  }
}
#lightBox .artworks .cover .mackup.fade{
  opacity: 0;
}
#lightBox .artworks .cover .box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: 0.2s ease-in;

}
#lightBox .artworks .cover h3 {
  position: absolute;
  z-index: 200;
  margin: 0;
  font-size: 22px;
  display: block;
  transform: translateY(10px);
  opacity: 0;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
#lightBox .artworks .cover:hover {
  transform: translate(-5px, -5px);
}
#lightBox .artworks .cover:hover:after{
  background-color: rgba(0, 0, 0, 0.4) ;
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.2) ;
  z-index: 6;
}

#lightBox .artworks .cover:hover h3 {
  color: white;
  opacity: 1;
  transform: translateY(0px);
}


.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  z-index: 450;
}

.closeButton {
  position: absolute;
  right: 3vw;
  top: 2vw;
  z-index: 100;
}
.closeButton .circle {
  top: 2.5px;
  left: 2px;
  border-radius: 50%;
  width: calc(20px + 1.5vw);
  height: calc(20px + 1.5vw);
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 0.2s;
}
.closeButton .fa-times-circle {
  font-size: calc(25px + 1.5vw);
  color: rgba(247, 255, 247, 0.9);
  cursor: pointer;
  transition: 0.2s;
}

.closeButton:hover .fa-times-circle {
  color: #ef233c;
  transform: rotate(90deg);
}
.closeButton:hover .circle {
  opacity: 1;
  background-color: #edf2f4;
}

.nextButton {
  position: absolute;
  right: calc(15px + 1.5vw);
  top: 50vh;
  transform: translate(50%, -50%);
  padding-left: -1px;
  cursor: pointer;
}
.nextButton .fa-chevron-right {
  font-size: calc(35px + 1.5vw);
  color: rgba(247, 255, 247, 0.4);
  transition: 0.2s ease-out;
}

.preButton {
  position: absolute;
  left: calc(15px + 1.5vw);
  top: 50vh;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.preButton .fa-chevron-left {
  font-size: calc(35px + 1.5vw);
  color: rgba(247, 255, 247, 0.4);
  transition: 0.1s ease-out;
}

.nextButton:hover .fa-chevron-right {
  filter: drop-shadow(-5px 0px 5px black);
  color: #edf2f4;
  transform: translateX(3px);
}
.nextButton:active .fa-chevron-right {
  filter: drop-shadow(-5px 0px 5px black);
  color: #edf2f4;
  transform: translate(4px,2px);
  transition: 0.01s ease-out;
}
.preButton:hover .fa-chevron-left {
  filter: drop-shadow(5px 0px 5px black);
  color: #edf2f4;
  transform: translateX(-3px);
}
.preButton:active .fa-chevron-left {
  filter: drop-shadow(-5px 0px 5px black);
  color: #edf2f4;
  transform: translate(-4px,2px);
  transition: 0.01s ease-out;
}
.fade-enter-active,.fade-leave-active{
  transition: opacity 0.5s;
}
.fade-enter,.fade-leave-to{
  opacity: 0;
}

/*lightBox img */

.loadingImage{
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%);
  width: 80px;
  height: 60px;
  background-color: #eee;
}
/* loading */
.loading3{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
@keyframes animateBgm{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.loading3 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    animation: animateBgm 10s linear infinite;
}
.loading3 span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #00ff00;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #00ff0087,
    0 0 4px 7px #00ff0043,
    0 0 15px 2px #00ff0038,
    0 0 35px #00ff0011,
    0 0 50px #00ff00,
    0 0 70px #00ff00,
    0 0 90px #00ff00;
    animation: loading3 2s linear infinite;
    animation-delay: calc(0.1s*var(--i) - 3s);
}
@keyframes loading3{
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
}
.loading3 p{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    font-family: monospace;
}
.loading3 img{
      width: 100px;
}
/* loading */


.myPainting {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.myPainting .all{
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    align-items: center;
  }
.myPainting img {
  display: block;
  width: auto;
  height: auto;
  padding: 0px 10px;
  max-width: 80vw;
  max-height: 80vh;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.words {
  width: 100%;
  color: white;
}
.words .name {
  text-align: left;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 22px;
}
.words .name .year {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 500;
}
.words .material {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 0px 15px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}
.words .material .size {
  display: inline-block;
  margin-right: 0px;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 1800px) {
  #lightBox .artworks {
    padding: 0px 3vw 10px 9vw;
  }
  #lightBox .artworks .cover {
    width: calc(85%/3);
    margin: calc(1px + 2%) 5% calc(1px + 2%) 0px;
  }
  
}

@media only screen and (max-width: 1350px) {
  #lightBox .artworks {
    padding: 0px max(60px,8%);
  }
  #lightBox .artworks .cover {
    width: max(290px,38%);
    height: 370px;
  }
}

@media only screen and (max-width: 790px) {

  #lightBox .artworks {
    justify-content: center;
  }
  #lightBox .artworks .cover {
    width: 85%;
    height: 370px;
    max-width: 450px;
  }
}
@media only screen and (max-width: 480px) {
  /* artworks */
  .lightbox{
    background-color: rgba(0, 0, 0, 0.95);
  }
  #lightBox .artworks {
    justify-content: center;
    padding: 10px;
    border: none;
  }
  #lightBox .artworks .cover {
    width: 75%;
    height: auto;
    margin-bottom: 25px;
    margin-right: initial;
    filter: none;
    transition: box-shadow 0.2s ease-out,transform 0.2s;
    justify-content: flex-end
  }

  #lightBox .artworks .cover h3 {
    padding: 5px;
    color: black;
    position: relative;
    transform: translateY(0px);
    font-size: 18px;
    letter-spacing: 0px;
    opacity: 1;
    transition: transform 0.2s ease-out;
    text-align: center;
  }
  #lightBox .artworks .cover img{
    object-fit: cover;
    position: relative;
  }
  #lightBox .artworks .cover:hover {
    transform: translate(0px, 0px);
    filter: none;
    box-shadow: none;
  }
  #lightBox .artworks .cover:after{
    display: none;
  }

  #lightBox .artworks .cover:hover h3 {
    color: black;
  }

  /* lightBox btn*/
  .closeButton {
    right: 10px;
    top: 10px;
  }
  .closeButton .circle {
    width: 20px;
    height: 20px;
  }
  .closeButton .fa-times-circle {
    font-size: 28px;
  }

  .nextButton {
    top: auto;
    bottom: 0px;
  }
  .nextButton .fa-chevron-right,.preButton .fa-chevron-left{
    color: rgba(247, 255, 247, 0.6);
    font-size: 35px;
  }

  .preButton {
    top: auto;
    bottom: 0px;

  }
  /* loading */
  .loading3{
    width: 125px;
    height: 125px;
  }
  /* lightBox img*/
 
  .myPainting img {
    max-width: 78vw;
    max-height: 68vh;
  }
  .words .name{
    letter-spacing: 1px;
    margin: 10px 0vw 0px 0vw;
    padding: 10px 4vw 5px 4vw;
    font-size: 18px;
  }
  .words .name .year{
    font-size: 13px;
    letter-spacing: 0px;
   }
  .words .material,.words .material .size{
    font-size: 12px;
    letter-spacing: 1px;
  }
  .nextButton .fa-chevron-right, .preButton .fa-chevron-left {
    color: rgba(253, 253, 253, 0.6);
    font-size: 40px;
  }
  .nextButton:hover .fa-chevron-right, .preButton:hover .fa-chevron-left {
    filter: none;
    color: rgba(253, 253, 253, 0.6);
    transform: none;
  }
  .nextButton:active .fa-chevron-right, .preButton:active .fa-chevron-left {
    filter: none;
    color: #edf2f4;
    transform: translate(2px,2px);
    transition: 0.01s ease-out;
  }

}

.show-image-enter-active,
.show-image-leave-active {
  transition: opacity 0.2s;
}
.show-image-enter,
.show-image-leave-to {
  opacity: 0;
}
