* {
  font-family: "Times New Roman", 'Taipei Sans';
}
#lightBox .artworks {
  margin: 0px 8%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.3s ease-in-out;
}
#lightBox .artworks.isLightboxOpen {
  transform: scale(0.99);
}
#lightBox .artworks .cover {
  margin: calc(1px + 2%) calc(1px + 2%);
  width: 100%;
  height: 340px;
  max-width: 600px;
  border-radius: 3px;
  position: relative;
  flex: 1 1 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(3px 7px 3px rgba(0, 0, 0, 0.4));
  transition:transform 0.2s ease-in-out,filter 0.1s ease-in-out;
}
#lightBox .artworks .cover .box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lightBox .artworks .cover .box h3 {
  margin: 0;
  display: block;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.2s ease-out;
  letter-spacing: 3px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#lightBox .artworks .cover:hover {
  transform: translate(-5px, -5px);
  cursor: pointer;
  filter: drop-shadow(8px 14px 6px rgba(0, 0, 0, 0.2));
}
#lightBox .artworks .cover:hover .box {
  background-color: rgba(0, 0, 0, 0.5);
}
#lightBox .artworks .cover:hover .box h3 {
  color: white;
  opacity: 1;
  transform: translateY(0px);
}
@media only screen and (max-width: 480px) {
  
  #lightBox .artworks {
    margin: 10px;
    border: none;
  }
  #lightBox .artworks .cover {
    margin-bottom: 55px;
    filter: none;
    background-size: cover;
    transition: box-shadow 0.2s ease-out,transform 0.2s;
  }
  #lightBox .artworks .cover .box {
    align-items: flex-end;
  }
  #lightBox .artworks .cover .box h3 {
    padding: 20px;
    bottom: -15px;
    color: black;
    position: relative;
    transform: translateY(40px);
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
    transition: 0.2s ease-out;
    text-align: center;
  }
  #lightBox .artworks .cover:hover {
    transform: translate(-2px, -2px);
    filter: none;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  }
  #lightBox .artworks .cover:hover .box {
  background-color: transparent;
}
  #lightBox .artworks .cover:hover .box h3 {
    color: black;
    transform: translateY(35px);
  }
}


.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  pointer-events: none;
}
.lightbox.isLightboxOpen {
  pointer-events: initial;
  z-index: 250;
}

.closeButton {
  position: fixed;
  right: 3vw;
  top: 2vw;
  z-index: 100;
}
.closeButton .circle {
  top: 2.5px;
  left: 2px;
  border-radius: 50%;
  width: calc(20px + 1.5vw);
  height: calc(20px + 1.5vw);
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease-out;
}
.closeButton .fa-times-circle {
  font-size: calc(25px + 1.5vw);
  color: rgba(247, 255, 247, 0.9);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.closeButton:hover .fa-times-circle {
  color: #ef233c;
  transform: rotate(90deg);
}
.closeButton:hover .circle {
  opacity: 1;
  background-color: #edf2f4;
}

.nextButton {
  position: fixed;
  right: calc(15px + 1.5vw);
  top: 50vh;
  transform: translate(50%, -50%);
  padding-left: -1px;
}
.nextButton .fa-chevron-right {
  font-size: calc(35px + 1.5vw);
  color: rgba(247, 255, 247, 0.4);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.preButton {
  position: fixed;
  left: calc(15px + 1.5vw);
  top: 50vh;
  transform: translate(-50%, -50%);
}
.preButton .fa-chevron-left {
  font-size: calc(35px + 1.5vw);
  color: rgba(247, 255, 247, 0.4);
  cursor: pointer;
  transition: 0.1s ease-out;
}

.nextButton:hover .fa-chevron-right {
  filter: drop-shadow(-5px 0px 5px black);
  color: #edf2f4;
  transform: translateX(3px);
}
.nextButton:active .fa-chevron-right {
  filter: drop-shadow(-5px 0px 5px black);
  color: #edf2f4;
  transform: translate(4px,2px);
  transition: 0.01s ease-out;
}
.preButton:hover .fa-chevron-left {
  filter: drop-shadow(5px 0px 5px black);
  color: #edf2f4;
  transform: translateX(-3px);
}
.preButton:active .fa-chevron-left {
  filter: drop-shadow(-5px 0px 5px black);
  color: #edf2f4;
  transform: translate(-4px,2px);
  transition: 0.01s ease-out;
}
.fade-enter-active,.fade-leave-active{
  transition: opacity 0.3s;
}
.fade-enter,.fade-leave-to{
  opacity: 0;
}
/*lightBox img */

.myPainting {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.myPainting .all{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
  }
.myPainting img {
  display: block;
  width: auto;
  height: auto;
  padding: 0px 10px;
  max-width: 80vw;
  max-height: 80vh;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.words {
  width: 100%;
  color: white;
}
.words .name {
  text-align: left;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
.words .name .year {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 500;
}
.words .material {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 0px 15px;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 400;
}
.words .material .size {
  display: inline-block;
  margin-right: 0px;
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  /* lightBox btn*/
  .closeButton {
    right: 10px;
    top: 10px;
  }
  .closeButton .circle {
    width: 20px;
    height: 20px;
  }
  .closeButton .fa-times-circle {
    font-size: 28px;
  }

  .nextButton {
    top: 94vh;
  }
  .nextButton .fa-chevron-right,.preButton .fa-chevron-left{
    color: rgba(247, 255, 247, 0.6);
    font-size: 35px;
  }

  .preButton {
    top: 94vh;

  }
  /* lightBox img*/
  .myPainting .all{

  }
  .myPainting img {
    max-width: 83vw;
    max-height: 74vh;
  }
  .words .name{
    letter-spacing: 1px;
    margin: 10px 0vw 0px 0vw;
    padding: 10px 4vw 5px 4vw;
    font-size: 18px;
  }
  .words .name .year{
    font-size: 13px;
    letter-spacing: 0px;
   }
  .words .material{
    padding: 0px 4vw;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .nextButton .fa-chevron-right, .preButton .fa-chevron-left {
    color: rgba(253, 253, 253, 0.6);
    font-size: 40px;
  }
  .nextButton:hover .fa-chevron-right, .preButton:hover .fa-chevron-left {
    filter: none;
    color: rgba(253, 253, 253, 0.6);
    transform: none;
  }
  .nextButton:active .fa-chevron-right, .preButton:active .fa-chevron-left {
    filter: none;
    color: #edf2f4;
    transform: translate(2px,2px);
    transition: 0.01s ease-out;
  }

}