<div id="lightBox">
  <div
    ref="test"
    class="artworks"
  >
    <div
      class="cover"
      :key="artwork"
      v-for="(artwork,artid) in artworkMenu.sort"
      @click="setPlayId(artid),controlLightBox(true),lightboxNoScroll('add'),clickImage(artid)"
    >
      <div class="mackup"></div>
      <ArtworkList
        :artwork='artwork'
        :artworkMenu='artworkMenu'
        :engControl="engControl"
        :observer='observer'
      ></ArtworkList>
      <h3>{{artwork}}</h3>
    </div>
  </div>

  <!-- lightBox -->
  <transition name="fade" mode="out-in">
    <div
      v-show="isLightboxOpen"
      class="lightbox"
      key="lightbox"
    >
      <div class="closeButton" key="closeButton">
        <div class="circle" key="circle"></div>
        <font-awesome-icon icon=times-circle
        @click="controlLightBox(false),lightboxNoScroll('remove')" 
        key="times-circle"
        />
      </div>
      <div class="nextButton" key="nextButton"
          @click="change(nowPlayId+1),loadingImg(nowPlayId+1)"
      >
        <font-awesome-icon icon=chevron-right
        />
      </div>
      <div class="preButton" key="preButton">
        <font-awesome-icon icon=chevron-left
        @click="change(nowPlayId-1),loadingImg(nowPlayId-1)"
        />
      </div>
      <transition-group name="show-image" mode="out-in" appear>
        <div class="loading3" v-show="load" key="loading">
          <span v-for="n in 20" :style="'--i:'+n" :key="n"></span>
          <img src='@/assets/android-chrome-192x192.png' alt="">
        </div>
        <div
          v-show="!load && isLightboxOpen"
          class="myPainting"
          v-if="artworkDetail"
          key='myPainting'
        >
            <div class="all" key='detail'>
                <img
                id="myPaint"
                :src="require('@/assets/img/'+artworkDetail.src)"
                @click="change(nowPlayId+1),loadingImg(nowPlayId+1)"
                :alt="selectArtwork"
                key="selectArtwork"
                >
              
              <div
                class="words"
              >
                <div class="name">
                  {{selectArtwork}}
                  <div class="year">
                    , {{artworkDetail.year}}
                  </div>
                </div>
                <div class="material">
                  {{artworkMaterials}}
                  <div class="size">
                    , {{artworkDetail.size}}
                  </div>
                </div>
              </div>
            </div>

          <!-- <img
            :src="require('@/assets/img/'+preload(nowPlayId+1).src)"
            style="display: none;"
          >
          <img
            :src="require('@/assets/img/'+preload(nowPlayId-1).src)"
            style="display: none;"
          > -->
        </div>
      </transition-group>
    </div>
  </transition>
</div>
