*{
  user-select: none; 
}
#nav{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("../../assets/thumbnail/The-Night-Citizen-min.jpg");
  z-index: 50;
  background-position: 30% 20%;
}
.title {
  margin: 10px 0px;
  font-family:'Times New Roman','Artwork_ch';
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 20px;
}
.title .beforeLine {
  flex: 1 1;
  height: 0;
  width: 10%;
  top: 50%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}
.title .afterLine {
  flex: 1 1;
  height: 0;
  width: 10%;
  left: 10%;
  top: 50%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-left: 10px;
}
.title h1{
  margin:0px;
  font-size: max(2.2vw,40px);
}
#lightBox{
  position: relative;
  margin-top: 80px;
}
#TypeHandler {
  margin-top: 15px;
  left: 5%;
  transition: left 0.1s;
}
.footer{
    padding: 20px 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    height: initial;
    font-family:'Times New Roman','Artwork_ch';
  }
@media only screen and (max-width: 1800px){
  #TypeHandler{
    left:8%;
}
}
@media only screen and (max-width: 1350px) {
  #TypeHandler{
    left:max(60px,8%);
}
}
@media only screen and (max-width: 790px){
  #TypeHandler{
    margin-top: 30px;
    position: absolute;
    width: 380px;

    left: 50%;
    transform: translateX(-50%);
  }
  #lightBox{
    margin-top: 110px;
  }
}  
@media only screen and (max-width: 480px) {
  .title{
    position: relative;
    top: 10px;
  }
  .title h1 {
    font-size: 9vw;
  }
  #TypeHandler{
    margin-top: 30px;
    width:70vw;
  }
  #lightBox{
  margin-top: 100px;
  }
  .footer{
    height: 60px;
  }
}


@font-face {
  font-family:'Artwork_ch';
  src:  url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Bold.woff) format('woff'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Bold.woff2) format('woff2'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family:'Artwork_ch';
  src:  url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Regular.woff) format('woff'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Regular.woff2) format('woff2'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Regular.ttf) format('truetype');
  font-weight: normal;
}