#nav{
  position: relative;
  display: flex;
  padding: 0px;
  background-color:rgba(0, 0, 0, 0.5);
  justify-content: center;
  z-index: 1;
}
#nav .pc{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px;
  font-size: min(3vw, 30px);
}
#nav .pc a{
  margin: 0px;
  border-radius: 5px;
  margin-left: 7px;
  padding: 5px 10px;
  font-size: max(20px, 1.5vw);
  letter-spacing: 0.2vw;
  color:rgba(255, 255, 255, 0.8);
  text-decoration-line: none;
}
#nav .pc .ch{
  padding: 5px 25px;
  font-size: max(23px, 1.6vw);
}
#nav .mobile{
  position: absolute;
  transform: translate(-9999px, 0px);
}
#nav a:hover{
  color: white;
  box-shadow: 0px 0px 20px #0adaff;
  background-color:rgba(0, 0, 0, 0.8);
}
#nav .pc a.router-link-exact-active{
  color:white;
  text-decoration-line: underline ;
  text-decoration-color: rgb(246, 232, 0);
  background-color:rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 480px) {
  #nav{
    position: fixed;
    width: 100vw;
    bottom: 0vh;
    height: 45px;
    order: 2;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #nav .pc{
    position: absolute;
    transform: translate(-9999px, 0px);
  }
  #nav .mobile{
    position: relative;
    transform: initial;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
  #nav .mobile a{
    color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
    padding: 5px 5vw;
    margin: 0px;
  }
  #nav .mobile svg{
    font-size: 22px;
  }
  #nav .mobile span{
    margin-top: 2px;
    font-size: 10px;
    letter-spacing: 1px;
    
  }
  #nav a.router-link-exact-active{
    border-top: 3px solid #f6e800;
    color:white;
    background-color:rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
  }
  #nav a:hover{
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
  }
}