*{
  user-select: none; 
}
#nav{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("../../assets/Navigation.jpg");
  z-index: 50;
  background-position: 220% 2%;
}
.title {
  font-family:'Times New Roman','Artwork_ch';
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 20px 0px;
}
.title .beforeLine {
  flex: 1 1;
  height: 0;
  width: 10%;
  top: 50%;
   border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-right: 10px;
}
.title .afterLine {
  flex: 1 1;
  height: 0;
  width: 10%;
  left: 10%;
  top: 50%;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  margin-left: 10px;
}
.title h1{
  margin:0px;
  font-size: max(2.2vw,40px);
}
.shopcontrol {
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
  color: black;
}
.shopcontrol:active {
  transform: translate(2px, 2px);
}
.shopcontrol .emptynum {
  color: rgba(0, 0, 0, 0.4);
}
.shopcontrol .num {
  color: white;
  width: 25px;
  height: 25px;
  font-weight: 700;
  position: relative;
  display: flex;
  top: -50px;
  left: 15px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
}
#shopList{
  position: relative;
  margin-top: 100px;
}
#TypeHandler {
  margin-top: 10px;
  left: 7vw;
}
.footer{
    padding: 20px 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    height: initial;
    font-family:  'Times New Roman','Artwork_ch';
  }
@media only screen and (max-width: 992px){
  #TypeHandler{
    left: 15vw;
}
  .footer{
    padding: 20px 0px;
    font-size: 16px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    height: initial;
  }
  .footer.cart{
    padding: 20px 0px 0px;
    height: 12vh;
  }
}
@media only screen and (max-width: 481px) {
  #nav{
    z-index: 250;
  }
  .title h1 {
    font-size: 10vw;
  }
  .title{
    position: relative;
    margin-top: 10px;
    top: 10px;
    margin-bottom: 20px;
  }
  #TypeHandler{
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 80%;
  }

  #lightBox{
  margin-top: 75px;
  }
  .footer{
    padding-top: 15px;
    margin-top: 10px;
    height: 65px;
    font-size: 14px;
  }
  .footer.cart{
    padding-top: 15px;
    height: 125px;
  }
}

@font-face {
  font-family:'Artwork_ch';
  src:  url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Bold.woff) format('woff'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Bold.woff2) format('woff2'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family:'Artwork_ch';
  src:  url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Regular.woff) format('woff'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Regular.woff2) format('woff2'),
        url(~@/assets/fonts/Artwork_ch/TaipeiSansTCBeta-Regular.ttf) format('truetype');
  font-weight: normal;
}