<div id="Shop">
  <Navigation :engControl="engControl"></Navigation>
  <div class="title">
    <div class="beforeLine"></div>
    <h1>{{engControl?'Shop':'商店'}}</h1>
    <div class="afterLine"></div>
  </div>
  <FilterType
    :filterType.sync="type"
    :typeMenu="typeList.sort"
    :engControl="engControl"
  ></FilterType>
  <ShopList
    :cartList="cartList"
    :isLightboxOpen.sync="isLightboxOpen"
    :artworkMenu="artworkMenu"
    :engControl="engControl"
    :nowPlayId.sync="nowPlayId"
    @add-to-cart="addList"
    @delete-list='deleteList'
  ></ShopList>
  <div class="footer"></div>
</div>