#contactform >.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../assets/img/The_Night_Citizen.jpg");
  background-size: cover;
}
#contactform .content.submit{
  display: none;
}
.content h2{
  font-size: 36px;
  margin: 15px 0px 0px;
  color: white;
}
.content h3{
  font-size: 25px;
  margin: 7px 0px 12px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  max-width: 700px;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 60px;
}
.container.ch label{
  font-family:'Contact_ch'
}
.container label {
  font-size: 20px;
  padding: 5px 5px;
  font-weight: 600;
}
input[type=text], [type=email], textarea{
  font-family: 'Times New Roman';
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 12px;
}
textarea{
  margin-bottom: 25px;
}
.recaptcha{
  margin-bottom: 35px;
}
.recaptcha small{
  display: none;
}
.recaptcha small.recaptcha_failed{
  color: red;
  display: block;
  padding: 10px;
  margin-bottom: -35px;
}
.recaptcha.recaptchaVerifyKey small.recaptcha_failed{
  display: none;
}
input[type=submit] {
  font-family: 'Times New Roman';
  background-color: #4CAF50;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}
.container.ch input[type=submit]{
  font-family:'Contact_ch'
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=submit]:active{
  transform: translate(2px,2px);
}

/* confirm */
.confirm{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 100;
}
.confirm .content{
  font-family:  'Times New Roman',Georgia, Times, serif;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: black;
  padding: 30px max( 50px, 6vw);
  border-radius: 10px;
  background-color:paleturquoise;
}
.fa-paper-plane{
  font-size: 55px;
  margin-right: 5px;
  transform: rotate(-50deg) rotateY(-180deg);
}
.fa-wind{
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2.5px;
  transform: scaleX(1.5);
  color: cornflowerblue;
}
.confirm .content .send{
  font-size: max(40px,2.2vw);
  text-align: center;
}
.confirm .context{
  margin: 20px 0px;
  font-size: max(20px,1.5vw);
  display: flex;
  align-self: flex-start;
  line-height: 1.5em;
}
.fade-enter-active, .fade-leave-active{
  transition: opacity .2s;
}
.fade-enter,.fade-leave-to{
  opacity: 0;
}


@media only screen and (max-width: 901px){
.confirm .content{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: black;
  padding: 20px max( 30px, 10vw);
  border-radius: 10px;
  background-color:paleturquoise;
}
.fa-paper-plane{
  font-size: 40px;
  margin-right: 5px;
}

.fa-wind{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 2.5px;
}
.confirm .content .send{
  font-size: max(22px,3.8vw);
  text-align: center;
}
.confirm .context{
  margin: 15px 0px;
  font-size: max(16px,2.5vw);
  display: flex;
  align-self: flex-start;
}
}
@media only screen and (max-width: 690px){
  .content h3{
    display: flex;
    flex-direction: column;
  }
  
}

@media only screen and (max-width: 481px){
  .content h2{
    font-size: 25px;
    margin: 10px 0px 0px;
    color: white;
  }
  .content h3{
    font-size: 18px;
    margin: 7px 0px 10px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
  }
  .container {
    width: 99%;
    padding: 10px 25px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .container label {
    font-size: 17px;
  }
  input[type=text], [type=email]{
    border: none;
    border-bottom: 1px solid rgb(196, 196, 196);
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 15px;
  }
  textarea{
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .recaptcha{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .fa-paper-plane{
    font-size: 25px;
    margin-right: 1px;
  }

  .fa-wind{
    font-size: 15px;
    margin-left: 5px;
    margin-right: 3px;
    margin-bottom: 1px;
    transform: scaleX(1.2);
  }
  .confirm .content{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: black;
    padding: 15px max(25px, 8vw);
    border-radius: 10px;
    background-color:paleturquoise;
}
  .confirm .content .send{
    font-size: max(16px,4.5vw);
    text-align: center;
  }
  .confirm .context{
    margin: 10px 0px;
    font-size: max(14px,4vw);
  }
}