#contact{
  font-family:'Times New Roman';
  display: flex;
  flex-direction: column;
  height: 100%;
}
#contact.ch{
  font-family:'Contact_ch';
}
.back{
  font-family: 'Press Start 2P';
  padding:15px 30px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#contact.ch .back{
  font-family:'Contact_ch';
  font-size: 20px;
}
.back:hover{
  color: #fb80d6;
}
.back .fa-chevron-left{
  font-weight: 700;
  font-size: 35px;
  margin-right:10px;
}
#contactform{
  display: flex;
  flex: auto;
  flex-direction: column;
}

@media only screen and (max-width: 481px){
  .back{
    letter-spacing: 0.5px;
    padding: 8px 15px;
    font-size: 18px;
  }
}
@font-face {
  font-family:'Contact_ch';
  src:  url(~@/assets/fonts/Contact_ch/TaipeiSansTCBeta-Bold.woff) format('woff'),
        url(~@/assets/fonts/Contact_ch/TaipeiSansTCBeta-Bold.woff2) format('woff2'),
        url(~@/assets/fonts/Contact_ch/TaipeiSansTCBeta-Bold.ttf) format('truetype');
}

