#contact{
  font-family:'Times New Roman','Taipei Sans TC';
  display: flex;
  flex-direction: column;
  height: 100%;
}
.back{
  padding:15px 30px;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
}
.back a{
  display: flex;
  align-items: center;
  text-decoration:none;
  color: black;
}
.back .fa-chevron-left{
  font-weight: 700;
  font-size: 35px;
  margin-right:10px;
}
#contactform{
  display: flex;
  flex: auto;
  flex-direction: column;
}

@media only screen and (max-width: 481px){
  .back{
    padding: 8px 15px;
    font-size: 18px;
  }
}
@font-face {
  font-family:'Taipei Sans TC';
  src:  local('Taipei Sans TC'),url(~@/assets/fonts/Taipei_Sans_TC/TaipeiSansTCBeta-Bold.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family:'Taipei Sans TC';
  src:  local('Taipei Sans TC'),url(~@/assets/fonts/Taipei_Sans_TC/TaipeiSansTCBeta-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}
