#about {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  background: no-repeat url("../../assets/img/selfi.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-position: 100% 44%;
}
#nav{
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 50;
}


.link {
  z-index: 100;
  position: absolute;
  bottom: 3vh;
  left: 6vw;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link .name{
  font-family:'Times New Roman';
  font-size: max(5.5vw,50px);
}
.link .hyperlink a{
  color: rgba(255, 255, 255, 0.9);
  font-size: 3vw;
  margin-right: 20px;
}
.link .hyperlink a:nth-of-type(1){
  margin-left: 10px;
}
.link .hyperlink a:hover {
  color: white;
}
.link a.contact{
  font-family: 'Times New Roman','Taipei Sans TC' ;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  cursor: pointer;
  font-size: max(2.2vw,30px);
}
.link a.contact .fa-envelope{
  margin-left: 10px;
}
.link a.contact:hover{
  color: white;
}

.aboutme {

  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.aboutme img {
  width: 35vw;
  position: relative;
}
.aboutme h4 {
  position: relative;
  right: 3vw;
  width: 39vw;
  top: 20vh;
  margin: 0px;
  font-family:'Taipei Sans TC';
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 2px;
  text-align: justify;
  font-size: min(1.6vw,23px);
  color: black;
}
.aboutme.english h4{
  font-family:'Times New Roman';
  line-height: 1.1em;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 1200px) and (min-width: 481px) {
  #about .aboutme{
    justify-content: center;
  }
  #about .link {
    bottom: 53vh;
    left:auto;
    right: 7vw;
    color: rgba(0, 0, 0, 0.5);
  }
  #about .link .hyperlink a{
    color: rgba(0, 0, 0, 0.4);
    font-size:max(25px ,3.5vw);
    margin-right: 10px;
  }
  .link .hyperlink a:nth-of-type(1){
  margin-left: 5px;
  }
  .link a.contact{
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-size:max(24px ,3vw);
  }
  #about .link .hyperlink a:hover, .link a.contact:hover {
    color: black;
  }
  #about .aboutme{
    align-items: flex-end;
  }
  #about .aboutme h4 {
    top: auto;
    right: auto;
    width: 80vw;
    bottom: 40px;
    font-size: max(1.9vh,2vw);
    padding: 10px 25px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
  }
  #about .aboutme.english h4{
  line-height: 1.2em;
  letter-spacing: 0.8px;
}
}
@media screen and (max-width: 480px) {
  #about {
    background-position: 30% 50%;
    justify-content: space-between;
  }
  #nav{
    order: 2;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #nav .pc{
    position: absolute;
    transform: translate(-9999px, 0px);
  }
  
  .title {
    justify-content: start;
    font-size: 30px;
    margin-top: 20px;
  }
  .title h1 {
    font-size: 9vw;
  }
  .link {
    top: 6vh;
    bottom: initial;
    right: 10px;
    left: initial;
  }
  .link .hyperlink a:nth-of-type(1){
    margin-left: 3px;
  }
  .link .hyperlink a{
    font-size: 6vw;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 9px;
    margin-left: initial;
  }
  .link .name{
    font-size: 11vw;
    color: rgba(0, 0, 0, 0.6);
  }
  #about .link .hyperlink a:hover {
  color: rgba(0, 0, 0, 0.6);
  }
  .link a.contact{
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0px;
    font-size:5.5vw;
  }
  .title .beforeLine {
    flex: none;
    width: 70px;
    border-top: 4px solid black;
  }
  .title .afterLine {
    display: none;
  }

  #about .aboutme{
    justify-content: center;
    align-items: flex-end;
  }
  .aboutme h4 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    top: initial;
    bottom: 60px;
    padding: 10px 15px;
    font-weight: 500;
    width: 85vw;
    font-size: 3.8vw;
    right:auto;
    color: white;
    line-height: 1.2em;
  }
  .aboutme.english{
    top: auto;
  }
  .aboutme.english h4{
  line-height: 1.1em;
  letter-spacing: 0.5px;
}
}

@font-face {
  font-family:'Taipei Sans TC';
  src:  local('Taipei Sans TC'),url(~@/assets/fonts/Taipei_Sans_TC/TaipeiSansTCBeta-Bold.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
  unicode-range: U+806F, U+7D61, U+6211;
}
@font-face {
  font-family:'Taipei Sans TC';
  src:  local('Taipei Sans TC'),url(~@/assets/fonts/Taipei_Sans_TC/TaipeiSansTCBeta-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
  unicode-range:U+53F0, U+88D4, U+7F8E, U+570B, U+85DD, U+8853, U+5BB6, U+FF0C, U+76EE, U+524D, U+7559, U+5C45, U+65BC, U+7F8E, U+570B, U+52A0, U+5DDE, U+5F9E, U+4E8B, U+81EA, U+7531, U+63A5, U+6848, U+5275, U+4F5C, U+76F8, U+95DC, U+5DE5, U+4F5C, U+4E2D, U+3002, U+5E74, U+6210, U+7ACB, U+5275, U+4F5C, U+4EE5, U+4E00, U+500B, U+67B6, U+7A7A, U+4E16, U+754C, U+89C0, U+70BA, U+4E3B, U+7684, U+4E00, U+7CFB, U+5217, U+4F5C, U+54C1, U+3002, U+4F5C, U+54C1, U+4E2D, U+FF0C, U+64C5, U+9577, U+4F7F, U+7528, U+5927, U+81EA, U+7136, U+53CA, U+81EA, U+5DF1, U+7368, U+5275, U+7684, U+52D5, U+7269, U+5011, U+53BB, U+63CF, U+5BEB, U+5167, U+5FC3, U+7684, U+7406, U+60F3, U+570B, U+5EA6, U+3002, U+9019, U+4E9B, U+89D2, U+8272, U+5011, U+6240, U+71DF, U+9020, U+51FA, U+7684, U+4E16, U+754C, U+8207, U+6545, U+4E8B, U+FF0C, U+53CD, U+6620, U+8457, U+85DD, U+8853, U+5BB6, U+5F9E, U+73FE, U+5BE6, U+4E2D, U+9AD4, U+6703, U+5230, U+7684, U+5FC3, U+60C5, U+FF0C, U+4EE5, U+53CA, U+8166, U+4E2D, U+5E7B, U+60F3, U+4E4B, U+9593, U+7684, U+885D, U+7A81, U+3002, U+559C, U+6B61, U+7528, U+9BAE, U+4EAE, U+7684, U+984F, U+8272, U+53BB, U+5305, U+8986, U+756B, U+88E1, U+7684, U+6C1B, U+570D, U+FF0C, U+900F, U+904E, U+7B46, U+5237, U+7684, U+4E00, U+5C64, U+5C64, U+5806, U+758A, U+53BB, U+63CF, U+7E6A, U+865B, U+5E7B, U+570B, U+5EA6, U+7684, U+751F, U+547D, U+529B, U+3002, U+4F7F, U+7528, U+5A92, U+6750, U+591A, U+4EE5, U+58D3, U+514B, U+529B, U+53CA, U+5EE3, U+544A, U+984F, U+6599, U+7B49, U+6C92, U+91C7, U+5C55, U+73FE, U+FF0C, U+4E5F, U+6709, U+90E8, U+5206, U+4F5C, U+54C1, U+4EE5, U+6578, U+4F4D, U+7E6A, U+5716, U+70BA, U+8868, U+73FE, U+624B, U+6CD5, U+3002;
}