<div id="about">
  <Navigation :engControl="engControl"></Navigation>
  <div class="title">
    <div class="beforeLine"></div>
    <h1>{{engControl?'About':'關於'}}</h1>
    <div class="afterLine"></div>
  </div>
  <span class="name">SHUMA</span>
  <div class="aboutme">
    <h4>台裔美國藝術家，目前留居於美國加州從事自由接案創作相關工作中。2019年成立SHUMA ART Studio,創作以一個架空世界觀為主的一系列作品。作品中，擅長使用大自然及自己獨創的動物們去描寫內心的理想國度。這些角色們所營造出的世界與故事，反映著藝術家從現實中體會到的心情，以及腦中幻想之間的衝突。喜歡用鮮亮的顏色去包覆畫裡的氛圍，透過筆刷的一層層堆疊去描繪虛幻國度的生命力。使用媒材多以壓克力及廣告顏料等沒采展現，也有部分作品以數位繪圖為表現手法。</h4>
  </div>
</div>