#Home {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
img.bgImage{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center center;
}
.preloadBgi{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/The-Night-Citizen_big_min.jpg");
  background-size: cover;
  background-position: center center;
  filter: blur(1px);
  transition: opacity 0.5s;
  opacity: 1;
}
#Home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation-delay: 1s;
  -webkit-animation: change 2.5s ease 0.5s both;
          animation: change 2.5s ease 0.5s both;
  z-index: 0;
  background-color: rgba(0, 0, 0, 1);
}
@-webkit-keyframes change {
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@keyframes change {
  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
#Home .translate {
  position: absolute;
  right: 5vw;
  top: 20px;
  z-index: 1;
  display: flex;
}
#Home .translate input {
  display: none;
}
#Home .translate label {
  display: flex;
  align-items: center;
  font-size: max(1.5vw, 22px);
  opacity: 0;
  animation: fade 0.5s ease-in 0.5s both;
}
#Home .translate label .ch {
  cursor: pointer;
  font-family: 'Home_ch';
  font-weight: 700;
  width: max(2vw, 24px);
  height: max(2vw, 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background: white;
  border-radius: 50%;
  color: black;
}
#Home .translate label span {
  font-size: max(2vw, 24px);
  font-weight: 800;
  margin: 0px 4px;
  color: white;
}
#Home .translate label .eg {
  cursor: pointer;
  font-family: "Gugi", 'cursive';
  width: max(2.5vw, 25px);
  height: max(2.5vw, 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  background: none;
  font-weight: 500;
  padding: 3px;
}
#Home .translate input:checked + label .ch {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  background: none;
}
#Home .translate input:checked + label .eg {
  background: white;
  padding: 3px;
  border-radius: 50%;
  color: black;
  font-weight: 700;
}
#Home .word {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 2s;
}

#Home .word .name {
  font-family: "Gugi", 'cursive';
  color: transparent;
  font-size: min(12vw, 180px);
  -webkit-background-clip: text;
          background-clip: text;
  letter-spacing: 2vw;
  font-weight: 600;
  opacity: 0;
  filter: drop-shadow(3px 0px 0px #ff6bd0) drop-shadow(-3px 0px 0px #ff6bd0) drop-shadow(0px 3px 0px #ff80d7) drop-shadow(0px -3px 0px #ff80d7) drop-shadow(0px 0px 7px rgba(255, 144, 222, 0.8)) drop-shadow(0px 0px 10px #ee0268) drop-shadow(0px 0px 10px rgba(255, 144, 222, 0.6));
}
#Home .word .name:nth-of-type(1) {
  background-image: url("../../assets/Raining-in-Taiwan-min.jpg");
  background-size: cover;
  background-position: 60% 0%;
  animation: fadeIn 0.7s ease 1s both;
}
#Home .word .name:nth-of-type(2) {
  background-image: url("../../assets/Fall-In-Taiwan-min.jpg");
  background-position: 195% 10%;
  background-size: cover;
  animation: fadeIn 0.7s ease 1.3s both;
}
#Home .word .name:nth-of-type(3) {
  background-image: url("../../assets/Fall-In-Taiwan-min.jpg");
  animation: fadeIn 0.7s ease 1.6s both;
}
#Home .word .name:nth-of-type(4) {
  margin-left: 2vw;
  background-image: url("../../assets/Spring-In-Taiwan-min.jpg");
  animation: fadeIn 0.7s ease 1.9s both;
}
#Home .word .name:nth-of-type(5) {
  background-image: url("../../assets/Winter-in-Taiwan-min.jpg");
  animation: fadeIn 0.7s ease 2.1s both;
}
@keyframes fadeIn {
  100%{
    opacity: 1;
  }
}
#Home .word video {
  width: auto;
  height: 60vmin;
  opacity: 0;
  animation: fadeIn 0.5s ease 1.7s both;
}
#Home .image {
  z-index: 5;
  display: none;
}
#Home .nav {
  z-index: 10;
  display: flex;
  justify-content: center;
  animation: fade 1s ease-in 1s both;
  opacity: 0;
}
#Home .nav a{
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P';
  margin: 5vw 3.5px 0px 3.5px;
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.1vw;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  padding: 12px 25px;
  font-size: min(2vw, 25px);
  border: solid 3px #fb80d6;
  box-shadow: 0px 0px 5px #fb80d6, 0px 0px 10px #fb80d6,0px 0px 30px #ffa7e5de;
  text-decoration-line: none;
  transform: translateY(100px);
}
#Home .nav a:nth-child(1){
  animation: moveIn 1s linear 0.7s both;
}
#Home .nav a:nth-child(2){
  animation: moveIn 1s linear 0.8s both;
}
#Home .nav a:nth-child(3){
  animation: moveIn 1s linear 0.9s both;
}
#Home .nav a:nth-child(4){
  animation: moveIn 1s linear 1s both;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes moveIn {
  100%{
    transform: translateY(0px);
  }
}
#Home .nav a:hover {
  background: black;
  color: white;
  box-shadow: 0px 0px 5px #0adaff, 0px 0px 10px #0adaff;
  border: solid 3px #0adaff;
}
#Home .nav .ch{
  font-family: 'Home_ch';
  margin: 5vw 5px 0px 5px;
  padding: 10px 35px;
  font-size: min(3vw, 32px);
  font-weight: 700;
}
#Home .nav a.router-link-exact-active{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 1000px) {
  #Home .word {
    align-items: baseline;
    transition-duration: 2s;
  }
}
@media screen and (max-width: 480px) {
  .preloadBgi{
    background-image: url("../../assets/The-Night-Citizen-small_min.jpg");
  }
  #Home .translate {
    right: 10px;
    bottom: 15px;
    top: initial
  }
  #Home .translate label {
    display: flex;
    align-items: center;
    font-size: 17px;
  }
  #Home .translate label .ch {
    width: 20px;
    height: 22p;
    padding: 0px 2px;
  }
  #Home .translate label span {
    font-size: 20px;
    font-weight: 800;
  }
  #Home .translate label .eg {
    width: 22px;
    height: 22px;
  }

  #Home .word .name {
    font-size: 10vh;
  }
  #Home .word video {
    display: none;
  }
  #Home .word .num4 {
    margin-left: initial;
  }
  #Home .image {
    display: flex;
  }
  #Home .image video {
    margin-top: .5vh;
    height: 40vh;
    opacity: 0;
    animation: fadeIn 0.5s ease 1.7s both;
  }
  @keyframes fadeIn {
  100%{
    opacity: 1;
  }
}
  #Home .nav{
    flex-direction: column;
    margin: 0px;
  }
  #Home .nav a{
    padding: 10px 16px;
    font-size: 4vw;
    margin: 0px;
    margin-top: 1.5vh;
    
  }
  #Home .nav .ch{
  margin:2vh 0 0 0 ;
  padding: 8px 30px;
  font-size: 4.5vw;
}
}


@font-face {
    font-family: 'Home_ch';
    src:
        url(~@/assets/fonts/Home/SweiAliasSansCJKtc-Bold.woff) format('woff'),
        url(~@/assets/fonts/Home/SweiAliasSansCJKtc-Bold.woff2) format('woff2'),
        url(~@/assets/fonts/Home/SweiAliasSansCJKtc-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gugi';
  src:
    url(~@/assets/fonts/Home/Gugi-Regular.woff) format('woff'),
    url(~@/assets/fonts/Home/Gugi-Regular.woff2) format('woff2'),
    url(~@/assets/fonts/Home/Gugi-Regular.ttf) format('truetype');
  }
