img{
  position: absolute;
  width: 100%;
  object-fit: contain;
  height: 370px;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}
img.finish{
  opacity: 1;
}

@media screen and (max-width: 480px) {
  img{
  height: 250px;
  transition:transform 0.2s ease-in-out,opacity .25s ease-in-out;
  }
}